#home {
  position: relative;
  background: url("../../assets/bgIMG.png");
  background-size: cover;

  // disable the default padding styles
  .app__wrapper {
    padding: 0;

    .copyright {
      display: none;
    }
  }
}

.app__header {
  width: 100vw;
  height: 100%;

  padding: 6rem 2rem 0rem;

  @media screen and (min-width: 2000px) {
    padding-top: 8rem;
  }

  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }

  @media screen and (max-width: 450px) {
    padding: 6rem 1rem 0rem;
  }
}

// .app__header-info {
//   flex: 0.65;
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-start;
//   align-items: flex-start;
//   height: 100%;

//   margin: 0 2rem;

//   @media screen and (max-width: 1200px) {
//     width: 100%;
//     margin-right: 0rem;
//   }
// }

.app__header-badge {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 40px;

  .badge-cmp,
  .tag-cmp {
    padding: 1rem 2rem;
    background: var(--white-color);
    border-radius: 15px;
    flex-direction: row;
    width: auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }

  .badge-cmp {
    margin-bottom:25rem;
  }

  .tag-cmp {
    // flex-direction: column;
    margin-top: 18rem;
  }

  span {
    font-size: 2.5rem;

    @media screen and (min-width: 2000px) {
      font-size: 5rem;
    }
  }

  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.app__header-img {
  flex: 1;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;

  img {
    height: 75vh;
    // object-fit: center;
    z-index: 1;
  }

  .overlay_circle {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
  }

  // @media screen and (max-width: 1200px) {
  //   margin: 0;
  //   padding: 0;
  // }
}
