/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

/* Fonts */
:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Work Sans", sans-serif;
}

/* Colors */
:root {
  --color-black-text: #000;
  --color-white-text: whitesmoke;
  --color-background: #1f1f47;
  --color-card: #004e92;
  --color-learning-target: #1D2671;
  --color-agenda: #4CA1AF;
  --color-upcoming-events: #004e92;
  --color-homework: #2C3E50;
}

body {
  background-color: var(--color-background);
}

.container {
  min-width: 100vw;
}

/*--------------------------------------------------------------
# nav Section
--------------------------------------------------------------*/

.my-nav-tabs {
  display: flex;
  justify-content: center;
  border: none;
  padding-bottom: 10px;
}

.my-nav-tabs li {
  margin: 10px 0 0 0;
  text-align: center;
}

.my-nav-tabs a {
  font-weight: 600;
  color: var(--color-white-text);
}

.my-nav-tabs a:hover {
  border: none;
  transform: scale(1.1);
  color: var(--color-white-text);
}

.my-nav-tabs a span {
  font-size: 15px;
  font-weight: 400;
}

.my-nav-tabs .nav-item.show .nav-link, .nav-link.active {
  color: var(--color-white-text);
}

.my-nav-tabs .nav-item.show .nav-link, .nav-link.active:hover {
  cursor: default;
  transform: none;
}

.my-nav-tabs .nav-item.show .nav-link, .nav-link.active span {
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-decoration-color: red;
  text-underline-offset: 8px;
}

@media (max-width: 991px) {
  .my-nav-tabs {
    padding-bottom: 0;
  }
  .my-nav-tabs a {
    padding: 5px;
    font-size: 10px;
  }
  .my-nav-tabs a span {
    font-size: 10px;
  }
  .my-nav-tabs li {
    margin: 15px 0;
  }
  /* .my-nav-tabs .nav-item.show .nav-link, .nav-link.active {
    background: none;
    border: none;
    text-decoration: underline;
  } */
}

/*--------------------------------------------------------------
# card Section
--------------------------------------------------------------*/

.card {
  background: rgba( 255, 255, 255, 0.15 );
  backdrop-filter: blur( 18px );
  -webkit-backdrop-filter: blur( 18px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 1rem;
  margin: 5px;
  padding: 20px;
  color: var(--color-white-text);
}

.row ul li {
  margin-left: 25px;
  font-size: 25px;
  /* list-style: none; */
}

/* .row ul li::before {
  content: "🎺 ";
} */

.card h4 {
  font-size: 40px;
  font-weight: 600;
  /* text-decoration: underline; */
  /* text-align: center; */
}

/* .card h4::before {
  content: "🎷 ";
}

.card h4::after {
  content: " 🎺";
} */

/* .card h2 {
  text-decoration: underline;
} */

/* .learning-target {
  color: var(--color-white-text);
  background: var(--color-learning-target);
} */

/* .agenda {
  color: var(--color-white-text);
  background: var(--color-agenda);
} */

/* .upcoming-events {
  color: var(--color-white-text);
  background: var(--color-upcoming-events);
} */

/* .homework {
  color: var(--color-white-text);
  background: var(--color-homework);
} */

@media (max-width: 991px) {
  /* .card {
    margin: 5px;
  } */
}