.app__about {
  width: 90%;
  flex-direction: column;
}

.app__about-container {
  display: flex;
  flex-direction: row;

  img {
    border-radius: 10px;
    width: 38vw;
    margin: 1.5rem 1.5rem 0 0;
    float: left;
    -webkit-box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.75);
    transition: all .5s ease-in-out;

    &:hover {
      transform: scale(1.01);
    }

    @media screen and (max-width: 800px) {
      float: none;
      width: 100%;
      margin: 1rem 0 0 0;
    }
  }
  @media screen and (max-width: 800px) {
    flex-direction: column;
  }

}

p.app__about-text {
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--font-color);
  font-family: var(--font-base);
  text-align: justify;
  margin: 2rem 0 0 0;
  

  @media screen and (min-width: 2000px) {
    font-size: 2rem;
    line-height: 3.5rem;
  }

  @media screen and (max-width: 600px) {
    font-size: .85rem;
    line-height: 1.3rem;
  }
}